<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/tailwind.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|EB+Garamond&display=swap" rel="stylesheet">
    <title>News Forum</title>
</head>

<body class="bg-cover bg-center bg-fixed" style="background-image: url(./images/wall-street.jpg); font-family: 'EB Garamond', serif;">

    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>